<div class="field">

    <div class="card-stack">
        <!-- displays cards with 1 px spacing next to each other 5 times -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
        src="/assets/img/playing_cards/card_cover.png">
        <img (click)="takeCard()" [class.pick-card]="pickCardAnimation" class="top-card" style="right: 25px" 
        src="/assets/img/playing_cards/card_cover.png">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="top-card pick-card" style="right: 25px" 
        src="/assets/img/playing_cards/ace_1.png">
    </div>
</div>